.text-style{

    padding: 10px;
    color: aqua;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: turquoise;
}

#txt{
    color:white;
    background-color: blue;
    
}